h1 {
  font-size: xx-large;
  text-align: center;
  color: rgba(0, 0, 107, 0.584);
  font-family: Arial, Helvetica, sans-serif;
}
header img {
  width: 250px;
  height: auto; /* Maintain aspect ratio */
  position: fixed;
  top: 40px;
  right: 40px;
  max-width: 250px;
  height: auto;
  z-index: 999;
}
body {
  background-color: rgb(199, 195, 195);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 107, 0.584);
}
form {
  color: rgba(0, 0, 107, 0.584);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  text-size-adjust: larger;
}
.button {
  font-size: 18px;
  /* padding: 12px 24px; */
  float: left;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.leftThird {
  width: 50%; /* Set width to one-third of the screen */
  float: left; /* Float the container to the left */
  margin-top: 5px;
}
.resultButton {
  float: left;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
